<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Carbon Emissions" data-text="Track direct carbon emissions from the operation of the Australian NEM."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="GRAPH_EMISSIONS_INTENSITY" data-view="Graph" data-title="" style="background-color:#ff9618" data-moreinfo="In t C02e / MW sent out"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="CO2_INTENSITY" data-view="List" data-unordered="true" data-title="" data-moreinfo="In t C02e / MW sent out"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CO2_SHARE" data-view="List" data-unordered="true" data-suffix=" %" data-title="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="FUEL_SHARE" data-view="List" data-unordered="true" data-suffix=" %" data-title="" data-moreinfo=""></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Source JSON <a href="http://app.carbongis.com.au/nem2json/dispatch.json">here</a>.</div></center>
</div>
