<% content_for(:title) { "My super sweet dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="welcome" data-view="Text" data-title="Wind" data-text="Track electricity provided by wind farms around Australia."></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ALL_WIND" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="BLUFF1" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CNUNDAWF" data-view="Powernumber" data-title="Canunda (SA)" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CAPTL_WF" data-view="Powernumber" data-title="Capital (NSW)" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CATHROCK" data-view="Powernumber" data-title="Cathedral Rocks (SA)" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CHALLHWF" data-view="Powernumber" data-title="Challicum Hills (VIC)" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CLEMGPWF" data-view="Powernumber" data-title="Clements Gap (SA)" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CULLRGWF" data-view="Powernumber" data-title="Cullerin Range (NSW)" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="GUNNING1" data-view="Powernumber" data-title="Gunning (NSW)" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="HALLWF1" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="HALLWF2" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LKBONNY1" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LKBONNY2" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="LKBONNY3" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="MTMILLAR" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="NBHWF1" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="OAKLAND1" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="PORTWF" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SNOWTWN1" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="STARHLWF" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WATERLWF" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WAUBRAWF" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WOODLWN1" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WOOLNTH1" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="WPWF" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="YAMBUKWF" data-view="Powernumber" data-title="" data-moreinfo=""></div>
    </li>

  </ul>
  <center><div style="font-size: 12px">Source JSON <a href="http://app.carbongis.com.au/nem2json/dispatch.json">here</a>.</div></center>
</div>
